/*BASE STYLES*/

img {
  width: 100%;
  height: auto;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.nav {
  position: absolute;
  padding: 0;
  left: 5%;
}

.nav a {
  color: white;
  margin-left: 50px;
  padding-top: 5px;
  text-decoration: none;
}

a:hover {
  color: #f9e3f8;
  text-decoration: underline;
}

h2, h4 {
  margin-top:0;
  text-align: center;
  padding: 15px;
}

/*HOME*/

.bg1 {
  background: url('../bg1.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 800px;
  margin: 0;
}

.hello {
  font-family: 'Homemade Apple', cursive;
  font-size: 45px;
}

.intro {
  display: block;
  position: absolute;
  top: 30%;
  left: 37%;
  padding: 20px;
  color: white;
  text-align: left;
}

/*PORTFOLIO*/

#bg3 {
  background-color: #8c3a80;
  background-size: cover;
  height: 800px;
  margin-top: 0;
}

.heffect:hover{
  opacity: .5;
}

.card-deck-wrapper {
  margin: 30px;
}

.card-block {
  border-top: 2px solid #000;
}

.btn-info {
  margin-top: 5px;
}

/*EXPERIENCE*/

.bg4 {
  background: url('../bg5.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 800px;
}

.jobs h2 {
  position: relative;;
  text-align: center;
}

.jobs {
  border-radius: 25px;
  position: relative;
  height: 600px;
  width: 850px;
  top: 100px;
  left: 300px;
  border-radius: 2px solid white;
  padding: 10px;
  opacity: .8;
  background-color: white;
  z-index: 5;
}

.jobslist {
  display: block;
  position: relative;
}



/*CONTACT ME*/

.bg5 {
  background-color: white;
  background-size: cover;
  height: 800px;
}
.container {
  width: 100%;
  padding: 0;
}
p {
  position: relative;
}
.connecting {
  height: 300px;
  width: 400px;
  margin-left: 35%;
  display: block;
}
.c-form {
  left: 38.5%;
  width: 320px;
  margin-top: 10px;
  margin-bottom: 20px;
  position: relative;
  padding: 20px 0px 40px 10px;
  background-color: #c7ccd6;
}

input, label,
textarea {
  display: block;
  color: #5a5c60;
  width: 300px;
}

textarea {
  height: 150px;
}

#submit {
  width: 100px;
  margin-top: 5px;
}

.linkedin,
.facebook,
.github {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
}

.linkedin {
  margin-left: 44%;
}
